<div class="bdbq-banner my-5 py-4 text-center">
  <div class="d-inline-block pr-md-5 h5 m-0">
    Our experts help you succeed in your BigData and Cloud projects
  </div>
  <a href="/contact" class="d-inline-block align-baseline btn btn-enroll-header bdbq-banner-button">LEARN MORE</a>
</div>
