<!-- This is injected on the home page after the recent posts blob. -->
<!--
<div class="header-title" id="HandsOnBanner">
    <div class="header-title__img">
        <img src="/static/base/img/Image43.png" class="img-fluid aheight" alt="">
    </div>
    <div class="header-title__text"> 
      <div class="row">

          <div class="col-md-4">
            <img src="/static/base/img/prestologo.png" class="img-fluid presto" alt="">
            <h6>BigData Boutique in cooperation with Starburst</h6>
            <img src="/static/base/img/Starbust_white.png" class="img-fluid starbust" alt="">
          </div>
          <div class="col-md-5">
              <h2>Hands-on Presto: Fast SQL on Anything</h2>
              <h5>Everything you need to know about Presto SQL to get started querying data on S3, HDFS and pretty much anywhere</h5>
              <div class="btn-enroll-header-container">
                  <a class="btn-enroll-header" data-interaction="WorkshopRegistration">Register Now</a>
              </div>
          </div>
           <div class="col-md-2">
               <div class="free">FREE EVENT</div>
           </div>
        </div>
    </div>
</div>
-->
