<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 footer-logo">
        <img src="//bigdataboutique.com/images/horizontal-logo.svg" alt="" />
      </div>
      <div class="col-lg-5 footer-sitemap">
        <a href="https://bigdataboutique.com/services">
          Services
        </a>
        <a href="https://bigdataboutique.com/training">
          Training
        </a>
        <a href="https://bigdataboutique.com/careers">
          Careers
        </a>
        <a href="https://bigdataboutique.com/contact">
          Contact
        </a>
      </div>
      <div class="col-lg-4">
        <div class="footer-icons">
          <a href="https://github.com/BigDataBoutique/" target="_blank">
            <i class="icon fab fa-github"></i>
          </a>
          <a href="https://www.facebook.com/bigdataboutique/" target="_blank">
            <i class="icon fab fa-facebook"></i>
          </a>
          <a href="https://twitter.com/bigdataboutique" target="_blank">
            <i class="icon fab fa-twitter"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/bigdata-boutique"
            target="_blank"
          >
            <i class="icon fab fa-linkedin"></i>
          </a>
          <a
            href="https://www.youtube.com/channel/UCBHr7lM2u6SCWPJvcKug-Yg"
            target="_blank"
          >
            <img
              class="icon youtube"
              src="//bigdataboutique.com/images/icons/icon-youtube.svg"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<script> (function(){ window.ldfdr = window.ldfdr || {}; (function(d, s, ss, fs){ fs = d.getElementsByTagName(s)[0]; function ce(src){ var cs = d.createElement(s); cs.src = src; setTimeout(function(){fs.parentNode.insertBefore(cs,fs)}, 1); } ce(ss); })(document, 'script', 'https://sc.lfeeder.com/lftracker_v1_3P1w24dADmoamY5n.js'); })(); </script>
