<header class="container-fluid navbar-container fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <img src="https://bigdataboutique.com/images/horizontal-logo.svg" class="d-inline-block align-top" alt="">
        <span class="blogText">BLOG</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100 justify-content-end">
          <li class=" nav-item dropdown services-dropdown ml-4">
            <a href="https://bigdataboutique.com/services" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" title="BigData and Cloud services" href="https://bigdataboutique.com/services">BigData and Cloud services</a>
              <a class="dropdown-item" title="Elasticsearch" href="https://bigdataboutique.com/services/elasticsearch">Elasticsearch Consultants</a>
              <a class="dropdown-item" title="Presto" href="https://bigdataboutique.com/services/presto">Presto Consultancy and Support</a>
            </div>
          </li>
          <li class="nav-item  ml-4">
            <a class="nav-link" href="https://bigdataboutique.com/solutions">Solutions</a>
          </li>
          <li class="nav-item  ml-4">
            <a class="nav-link" href="https://bigdataboutique.com/training">Training <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active ml-4">
            <a class="nav-link" href="/">Blog</a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link nav-bordered" href="https://bigdataboutique.com/contact">Let’s Talk</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div style="height: 100px">&nbsp;</div>
