<main>
  <article class="container post-container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-4">Contact Us</h1>
        {{> contact-form}}
      </div>
    </div>
  </article>
</main>