<main class="content">
  <div class="container">
    <div class="mb-4">
      <h2 class="text-capitalize"><span class="text-muted">Posts tagged with: </span>{{tag}}</h2>
    </div>
    {{#if tagDescription}}
      <div class="header-text">
        {{{tagDescription.content}}}
        <hr/>
      </div>
    {{/if}}
    <div class="row">
      {{#if posts.length}}
        {{#each posts}}
          {{> post this}}
        {{/each}}
      {{else}}
        {{> no-content}}
      {{/if}}
    </div>
    {{#if totalPages}}
      {{> pagination}}
    {{/if}}
  </div>
</main>
